.home-footer
  .footer-wrapper
    .row
      .column-3
        .osLight.footer-header Quick Links
        ul.footer-nav.pb20
          li.list-item
            a(href="") Bathroom Tiles
          li.list-item
            a(href="") Floor Tiles
          li.list-item
            a(href="") Vitrified Tiles
          li.list-item
            a(href="") Stone Look Tiles
          li.list-item
            a(href="") Kitchen Tiles
      .column-3
        .footer-header Policy
        ul.footer-nav
          li.list-item
            a(href="") Sample Request
          li.list-item
            a(href="") Return
          li.list-item
            a(href="") Shipping
          li.list-item
            a(href="") Quality
          li.list-item
            a(href="") Cancellation & Return

      .column-3
        .footer-header help
        ul.footer-nav
            li.list-item
                a(href="") Faq
            li.list-item
                a(href="") Knowledge Centre
            li.list-item
                a(href="") Installation Instructions
            li.list-item
                a(href="") Tile Features
            li.list-item
                a(href="") Technical Guide
      .column-3
        .footer-header Get in Touch
        div.footer-nav.pb20
            p.address-line Address :C-227, Paryavaran
            p.address-line Complex, Saket
            p.address-line New Delhi, India
            p.address-line Phone : +91-9643921524
            p.address-line Email : help@buildcorner.com
    .copyright
      p
        | Copyright © 2015
        a(href='buildcorner.com')
          | Buildcorner
        |. all right reserved.
