doctype html
html
  head
    title Buildcorner
  body
    h1 Welcome to buildcorner testing app
    p
      | Checkout the files to see how it is organized.
    p
      | Here is an example url
    a(href="/comments/10") Comment with id 10
      script(src='javascript/require.js')
