doctype html
html
  head
    title Buildcorner
  body
    header
      |  server index
    div#leftSidebar
      
    script( data-main="javascripts/application/application" src='javascripts/require.js')
