<div class='sidebar-left'>
  <ul class='navbar left-navigation'>
    <li><h3 class='nav-title'>
      Navigation </h3>
    </li>
    <li class='active left-item'>
      <a href=''>  <i class="fa fa-home"></i> <span> Home  </span>     </a>
    </li>
    <li class ='left-item'>
      <a href=''>  <i class="fa fa-edit"></i><span>  Profile  </span>     </a>
    </li>
    <li class ='left-item'>
      <a href=''> <i class="fa fa-plane"></i> <span> Products  </span>     </a>
    </li>
    <li><h3 class='nav-title'>
      3d room </h3>
    </li>
    <li class ='left-item' >
      <a href=''> <i class="fa fa-book"></i><span> Concepts </span>  </a>
    </li>
    <li class ='left-item' >
      <a href=''> <i class="fa fa-area-chart"></i><span> Rooms </span>  </a>
    </li>
    <li class ='left-item' >
      <a href=''> <i class="fa fa-cogs"></i><span> Concepts </span> </a>
    </li>
    <li class ='left-item' >
      <a href=''> <i class="fa fa-circle"></i><span> Rooms  </span> </a>
    </li>

    <li><h3 class='nav-title'>
      others </h3>
    </li>
    <li class ='left-item' >
      <a href=''> <i class="fa fa-paper-plane"></i><span> Drop email </span> </a>
    </li>
    <li class ='left-item' >
      <a href=''> <i class="fa fa-phone"></i><span> Contact us  </span> </a>
    </li>
    <li class ='left-item' >
      <a href=''> <i class="fa fa-bar-chart"></i><span> Review Sells </span>  </a>
    </li>

  </ul>
</div>
